@model BacalhauResponde.Models.ViewModels.PerguntaComRespostasViewModel
@{
    ViewData["Title"] = "Pergunta completa";
}

<div class="d-flex flex-column">
    <div class="card shadow-sm w-auto mb-2">
        <div class="card-body">
            <span class="ps-1 fst-italic text-black-50">@(Model.DataDeCricaoDaPergunta)</span>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-md bi-person-circle"></i>
                <h5 class="card-title fw-bold fs-6 ms-2 my-0">@(Model.UsuarioDaPergunta)</h5>
                <h6 class="card-subtitle fs-6 text-muted ms-1 my-0">- @(Model.OcupacaoDoUsuario)</h6>
            </div>
            <div class="mt-3 mb-5">
                <h4 class="h4 fw-bold">@(Model.Titulo)</h4>
                <p class="fs-5">@(Model.Descricao)</p>
            </div>

            <h5 class="h5">@(Model.NumeroDeRespostas)</h5>
            @if (Model.Respostas.Any())
            {
                foreach (var resposta in Model.Respostas)
                {
                    <hr />
                    <span class="ps-1 fst-italic text-black-50">@(resposta.DataDeCricaoDaResposta)</span>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-md bi-person-circle"></i>
                        <h5 class="card-title fw-bold fs-6 ms-2 my-0">@(resposta.UsuarioDaResposta)</h5>
                        <h6 class="card-subtitle text-muted fs-6 ms-1 my-0">- @(resposta.OcupacaoDoUsuario)</h6>
                    </div>
                    <p class="fs-5">@(resposta.Descricao)</p>
                }
            }
            <hr />
            <partial name="../Resposta/_Cadastrar.cshtml" model="@ViewBag.RespostaViewModel" />
        </div>
    </div>
</div>
