@model List<BacalhauResponde.Models.ViewModels.DashBoardViewModel>
@{
    ViewData["Title"] = "Página inicial";
}

<div class="d-flex flex-column">
    @foreach (var item in Model)
    {
        <div class="card shadow-sm w-auto mb-2">
            <div class="card-body">
                <span class="ps-1 fst-italic text-black-50">@(item.DataDeCricaoDaPergunta)</span>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-xxl bi-person-circle"></i>
                    <div class="ps-2">
                        <h5 class="card-title">@(item.UsuarioDaPergunta)</h5>
                        <h6 class="card-subtitle text-muted">@(item.OcupacaoDoUsuario)</h6>
                    </div>
                </div>
                <h4>@(item.Titulo)</h4>
                <p>@(item.Descricao)</p>
                <div class="d-flex mt-2">
                    <a class="nav-link" asp-action="BuscarPerguntaComRespostas" asp-controller="Pergunta" asp-route-perguntaId="@(item.PerguntaId)">
                        <i class="bi bi-md bi-chat"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>