@model List<BacalhauResponde.Models.ViewModels.DashBoardViewModel>
@{
    ViewData["Title"] = "Página inicial";
}
<div class="d-flex flex-column col-8 mt-4">
    @foreach (var item in Model)
    {
        <div class="card">
            <h1>@(item.UsuarioDaPergunta)</h1>
            <h1>@(item.DataDeAtualizacao)</h1>
            <h1>@(item.PerguntaId)</h1>
            <h1>@(item.Titulo)</h1>
            <h1>@(item.Descricao)</h1>
        </div>
    }
</div>